@{
    ViewData["Title"] = "Test";
}


<div class="conten-titulo">
    <br>
    <div style="text-align: center;">
        <h1>Test de Compatibilidad</h1>
    </div>
    <hr>
</div>
<img src="" alt="">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="border-info" style="border: 10px solid">
                <div class="card bg-light shadow-lg rounded-0 border-0">
                    <div class="card-body">
                        <br />
                        <form action="" method="post">
                            <div class="mb-3">
                                <label class="form-label">Signo Zodiacal</label>
                                <select id="Signo" class="form-select">
                                    <option>Aries</option>
                                    <option>Tauro</option>
                                    <option>Geminis</option>
                                    <option>Cancer</option>
                                    <option>Leo</option>
                                    <option>Virgo</option>
                                    <option>Libra</option>
                                    <option>Escorpio</option>
                                    <option>Sagitario</option>
                                    <option>Capricornio</option>
                                    <option>Acuario</option>
                                    <option>Picis</option>
                                </select>
                            </div>
                            <div class="Question">
                                <div class="mb-3">
                                    <label class="form-label">Del 1 al 5 Te consideras una persona malhumorada</label>
                                    <section class="form-group">
                                        <label class="radio-inline"><b>POCO</b></label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p1_radio1" id="p1_radio1" value="1"> 1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p1_radio2" id="p1_radio2" value="2"> 2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p1_radio3" id="p1_radio3" value="3"> 3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p1_radio4" id="p1_radio4" value="4"> 4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p1_radio5" id="p1_radio5" value="5"> 5
                                        </label>
                                        <label class="radio-inline"><b>MUCHO</b></label>
                                    </section>
                                </div>
                            </div>
                            <div class="Question">
                                <div class="mb-3">
                                    <label class="form-label">Del 1 al 5 ¿Consideras que te va bien en el amor?</label>
                                    <section class="form-group">
                                        <label class="radio-inline"><b>POCO</b></label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p2_radio1" id="p2_radio1" value="1"> 1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p2_radio2" id="p2_radio2" value="2"> 2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p2_radio3" id="p2_radio3" value="3"> 3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p2_radio4" id="p2_radio4" value="4"> 4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p2_radio5" id="p2_radio5" value="5"> 5
                                        </label>
                                        <label class="radio-inline"><b>MUCHO</b></label>
                                    </section>
                                </div>
                            </div>
                            <div class="Question">
                                <div class="mb-3">
                                    <label class="form-label">Del 1 al 5 ¿Qué tan cursi te consideras?</label>
                                    <section class="form-group">
                                        <label class="radio-inline"><b>POCO</b></label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p3_radio1" id="p3_radio1" value="1"> 1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p3_radio2" id="p3_radio2" value="2"> 2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p3_radio3" id="p3_radio3" value="3"> 3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p3_radio4" id="p3_radio4" value="4"> 4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p3_radio5" id="p3_radio5" value="5"> 5
                                        </label>
                                        <label class="radio-inline"><b>MUCHO</b></label>
                                    </section>
                                </div>
                            </div>
                            <div class="Question">
                                <div class="mb-3">
                                    <label class="form-label">Del 1 al 5 ¿Qué tan torpe te consideras?</label>
                                    <section class="form-group">
                                        <label class="radio-inline"><b>POCO</b></label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p4_radio1" id="p3_radio1" value="1"> 1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p4_radio2" id="p3_radio2" value="2"> 2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p4_radio3" id="p3_radio3" value="3"> 3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p4_radio4" id="p3_radio4" value="4"> 4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p4_radio5" id="p3_radio5" value="5"> 5
                                        </label>
                                        <label class="radio-inline"><b>MUCHO</b></label>
                                    </section>
                                </div>
                            </div>
                            <div class="Question">
                                <div class="mb-3">
                                    <label class="form-label">Del 1 al 5 ¿Qué tan sentimental eres?</label>
                                    <section class="form-group">
                                        <label class="radio-inline"><b>POCO</b></label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p5_radio1" id="p5_radio1" value="1"> 1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p5_radio2" id="p5_radio2" value="2"> 2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p5_radio3" id="p5_radio3" value="3"> 3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p5_radio4" id="p5_radio4" value="4"> 4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p5_radio5" id="p5_radio5" value="5"> 5
                                        </label>
                                        <label class="radio-inline"><b>MUCHO</b></label>
                                    </section>
                                </div>
                            </div>
                            <div class="Question">
                                <div class="mb-3">
                                    <label class="form-label">Del 1 al 5 ¿Qué tan feliz te consideras?</label>
                                    <section class="form-group">
                                        <label class="radio-inline"><b>POCO</b></label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p6_radio1" id="p6_radio1" value="1"> 1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p6_radio2" id="p6_radio2" value="2"> 2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p6_radio3" id="p6_radio3" value="3"> 3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p6_radio4" id="p6_radio4" value="4"> 4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="p6_radio5" id="p6_radio5" value="5"> 5
                                        </label>
                                        <label class="radio-inline"><b>MUCHO</b></label>
                                    </section>
                                </div>
                            </div>
                            <div class="but-form" style="text-align: right;">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>